<!DOCTYPE html>
<html>
<head>
<title>RADIO ROTATION APP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html;charset=utf-8" http-equiv="content-type">
<script type="text/javascript" src="https://api.laut.fm/js_tools/lautfm_js_tools.0.9.0.js" ></script>
</head>
<style>
* {
padding: none;
margin: none;

overflow: hidden;
font-family: Arial;
font-style: Sans-serif;
color: White;

}

body {
	background-color: black;
   }

.Center {
text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.body img:hover {
transform: translateY(-10px);
padding-bottom: 10px;
border-bottom: 5px solid #00ffff;

}




</style>
<body style="padding: none; margin: none;">

<div class="HEAD, nav">

<img src="IMG/LOGO-rr.png" style="z-index: 1; position: absolute; top: 3%; left: 3%; margin: none; " alt="LOGO"  width="14%">
  <svg width="100%" height="20%" style="z-index: 0; ">
  <polygon points="0,0 0,150 800,0" style="fill:#009999" />

</svg>
</div>
<div Class="content">
<div Class="player">
<div Class="btn.play">
<a onclick="playswitch()"><img id="playbtn" src="IMG/ICONS/play.png" style="z-index: 2; background-color: Black; position: fixed; bottom: 30%; right: 3%; margin: none;  padding: 20px; border: 3px solid #00ffff; border-radius: 5%; " alt="play"  width="10%"></a>


<div id="song" style="z-index: 1; position: fixed; bottom: 15%; width: 100%; margin: 50px; padding: 10px; border: 3px solid #ff0000; border-radius: 5%; "></div>



</div>



<div class="body" style="position: fixed; ">
<a href="index.html"><img src="IMG/ICONS/home.png" style="z-index: 1; position: fixed; bottom: 2%; left: 3%; margin: none; " alt="HOME"  width="14%"></a>
<a href="index.html"><img src="IMG/ICONS/playlist.png" style="z-index: 1; position: fixed; bottom: 2%; left: 23%; margin: none; " alt="PLAYLIST"  width="14%"></a>
<a href="Rotation-Hits.html"><img src="IMG/ICONS/radio.png" style="z-index: 1; position: fixed; bottom: 2%; left: 43%; margin: none; " alt="RADIO WECHSELN"  width="14%"></a>
<a href="index.html"><img src="IMG/ICONS/news.png" style="z-index: 1; position: fixed; bottom: 2%; left: 63%; margin: none; " alt="NEWS"  width="14%"></a>
<a href="index.html"><img src="IMG/ICONS/menu.png" style="z-index: 1; position: fixed; bottom: 2%; left: 83%; margin: none; " alt="MENU"  width="14%"></a>
</div>

</body>

<!-- TITLE - ARTIST ANZEIGE -->
<script type="text/html" id="song_template" charset="utf-8">
<h1><strong><%= this.title %></strong> <br> <%= this.artist.name %></h1>
</script>

<script type="text/javascript" charset="utf-8"> laut.fm.station('radio-rotation')
.info({container:'station', template:'station_template'})
.current_song({container:'song', template:'song_template'}, true);
</script>
<!-- TITLE - ARTIST ANZEIGE -->

<!-- play button ANZEIGE -->

<audio autoplay id="audio_player">

  <source src="https://radio-rotation.stream.laut.fm/radio-rotation" type="audio/mpeg">

</audio>

<script>
var aply = document.getElementById("audio_player");

function playAudio() {
  aply.play();
}

function pauseAudio() {
  aply.pause();
}


function playswitch() {

  if (audio_player.paused ) {
    aply.play();
	document.getElementById("playbtn").src="IMG/ICONS/pause.png"
  } else {
    aply.pause();
	document.getElementById("playbtn").src="IMG/ICONS/play.png"
  }
}

</script>

	
<script>

if ('mediaSession' in navigator) {

	navigator.mediaSession.metadata = new MediaMetadata({
		title: 'RADIO ROTATION',
		artist: '<%= this.title %> - <%= this.artist.name %>',
		album: 'Die grösste Musikabwechslung',
		artwork: [{ 
			src: 'https://static.wixstatic.com/media/1bf8c6_95e11fa0279a4ee5b8b1257ec91c82b2~mv2.png',
			sizes: '1000x1000',   
			type: 'image/png'
        },]
	});


	navigator.mediaSession.setActionHandler('play', null);
	navigator.mediaSession.setActionHandler('pause', null);

	navigator.mediaSession.setActionHandler('previoustrack', p);
	navigator.mediaSession.setActionHandler('nexttrack', n);
 
	navigator.mediaSession.setActionHandler('seekbackward', null );
	navigator.mediaSession.setActionHandler('seekforward', null );
	navigator.mediaSession.setActionHandler('seekto', null );
	navigator.mediaSession.setPositionState(null);
	
	//Function N&P
	
	function n() { 
		window.open("https://radiorotation.github.io/Rotation-Hits.html", "_self", "titlebar=no, status=no, fullscreen=no, toolbar=no, scrollbars=no, resizable=no, top=50%, left=200px,width= 520px,height=810px");
	};

	function p() {
		window.open("https://radiorotation.github.io/Rotation-Hits.html", "_self", "titlebar=no, status=no, fullscreen=no, toolbar=no, scrollbars=no, resizable=no, top=50%, left=200px,width= 520px,height=810px");
	};

};

</script>
